h1, p {
  color: #1e1e1e;
  font-family: Plus Jakarta Sans;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

.profile-header-banner {
  width: 120px;
  height: 120px;
  position: relative;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 24px;
  width: 480px;
  padding: 24px;
  border-radius: 24px;
  background-color: white;
}

.header-banner-wrapper {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 32px;
}

.content-header-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.cta-banner-wrapper {
  width: 100%;
}

.cta.active {
  background-color: #e41010;
  color: #413d39;
  cursor: no-drop;
  font-weight: 700;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 12px;
}

button {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  background: #b642dd;
  cursor: pointer;
}

button:hover {
  background-color: #230324f1;
}

button p {
  color: white;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}