.navbar-container {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    background-color: white;
    padding: 16px 24px;
    border-radius: 64px;
}

.active {
    color: rgb(22, 99, 182);
}

.default {
    color: rgb(0, 0, 0);
}